
.idea/compiler.xml

.idea/.name

.idea/artifacts/pptgen_war_exploded.xml

.idea/artifacts/pptgen_war.xml

.idea/copyright/profiles_settings.xml

.idea/libraries/Maven__junit_junit_3_8_1.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
